canvas{
  padding: auto;
  margin: auto;
  display: block;
  width:100%;
  border: 1px solid black;
  background-color: rgb(5,5,5);
}
.Top_Score{
  position: relative;
  width: 50%;
  margin-top: 0;
  font-size: 80px;
}
