.Title{
  display:block;
  text-align: center;
}
body{
  margin:0;
  height: 100vh;
}

canvas {
  display: block;
  background-image:url('Sides of Cube/background.gif');
  background-repeat: no-repeat;
  background-size: 2720px 1314px;
}
