.first_two ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.first_two ul li{
	width: auto;
	float: left;
	padding: 0px 0px;
}
.first_two ul li a{
	font-size: 10px;
  color: black;
}
.first_two ul li a:hover{
	color:FFB79B;
}
.center_seven ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.center_seven ul li{
	width: auto;
	float: left;
	padding: 0px 14px;
}
.center_seven ul li a{
	font-size: 10px;
  color: black;
}
.center_seven ul li a:hover{
	color:FFB79B;
}
.last_five ul{
	list-style: none;
	margin: 0px;
	padding: 0px 1px;
}
.last_five ul li{
	width: auto;
	float: left;
	padding: 0px 2px;
}
.allignment_sorter{
  width:100%;
  height: 6%;
  background: url(UI_FILES/background_underslider.png);
}
.allignment_sorter ul li{
  list-style: none;
}
.allignment_sorter ul li{
	width: auto;
	float: left;
	padding: 0px 60px;

}
.allignment_sorter ul li a{
	font-size: 15px;
  color: black;

}
.allignment_sorter li a:hover{
	color:FFB79B;
	background: url(UI_FILES/background_underslider.png);
	text-decoration: underline;
}
.header_annoucement{
  width:100%;
	min-height: 30px;
	margin-bottom: 30px;
	background: url(UI_FILES/background_underslider.png);
	position: relative;

}
.Recent_Post_Discription{
	width: 100%;
	position: relative;
	min-height:350px;
	margin-top: -30px;
}
.Recent_Post_Discription_Image{
	background-image: url('UI_FILES/Display_Blank.png');
	min-height:350px;
}
.Recent_Post_Discription_Image_1{
	margin-top: 40px;
	width: 50%;
	float: left;
	min-height: 250px;
	background-image: url('UI_FILES/Display_Blank.png');
}

.Description{
	width: 100%;
	background-color: ffffff;
}
.ending_set ul li{
	width: auto;
	float: left;
	padding: 0px 0px;
}
.TWO_Description{
	width: 100%;
	min-height: 650px;
}

.Description_1{
	margin-top: 40px;
	float:left;
	width: 48%;
}

.Description_2{
	margin-top: 40px;
	float: right;
	width: 48%;
}
.Description_3{
	margin-top: 40px;
	float: right;
	width: 48%;
	background-color:ffffff;
}
.no-outline:focus {
  outline: none;
}
.side_bar_description{
	width: 100%;
}
.side_bar_description_1{
	width: 100%;
	margin-top: 40px;

}
.example{
  margin-top: 1em;
  display: none;
}
